.chat {
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}
.messageContainer {
	border: 1px solid black;
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.you {
	background-color: green;
	color: white;
	display: inline-block;
	height: 50px;
	position: relative;
	right: 80px;
}

.other {
	background-color: red;
	color: black;
	display: inline-block;
	position: relative;
	left: 80px;
}

.senderYou {
	margin-top: 0;
	position: relative;
	right: 80px;
}
.senderOther {
	margin-top: 0;
	position: relative;
	left: 80px;
}
